---

---

<section class="flex-flow container" id="flexFlow">
    <div class="title">
        <h3>The flex-flow Property</h3>
        <p>The <span>flex-flow</span>property is a shorthand property for setting both the <span>flex-direction</span> and <span>flex-wrap</span> properties.</p>
    </div>
    <article class="article">
        <div class="title">
            <h4>flex-flow: wrap <span>parent element container</span></h4>
            <p></p>
        </div>
        <div class="content lex-flow ">
            <div class="item">a</div>
            <div class="item">b</div>
            <div class="item">c</div>
            <div class="item">d</div>
            <div class="item">e</div>
            <div class="item">f</div>
            <div class="item">g</div>
            <div class="item">h</div>
        </div>
    </article>
</section>

<style>
    .lex-flow {
        flex-flow: row wrap;
    }
</style>