---

---

<section class="justify-content container" id="justifyContent">
    <div class="title">
        <h3>The justify-content Property</h3>
        <p>The <span>justify-content</span> property is used to align the flex items:</p>
    </div>
    <article class="article">
        <div class="title">
            <h4>justify-content: flex-start <span>parent element container</span></h4>
            <p>The <span>flex-start</span> value aligns the flex items at the beginning of the container (this is default):</p>
        </div>
        <div class="content start">
            <div class="item">a</div>
            <div class="item">b</div>
            <div class="item">c</div>
            <div class="item">d</div>
            <div class="item">e</div>
        </div>
    </article>
    <article class="article">
        <div class="title">
            <h4>justify-content: center <span>parent element container</span></h4>
            <p>The <span>center</span> value aligns the flex items at the center of the container:</p>
        </div>
        <div class="content center">
            <div class="item">a</div>
            <div class="item">b</div>
            <div class="item">c</div>
            <div class="item">d</div>
            <div class="item">e</div>
        </div>
    </article>
    <article class="article">
        <div class="title">
            <h4>justify-content: flex-end <span>parent element container</span></h4>
            <p>The <span>flex-end</span> value aligns the flex items at the end of the container:</p>
        </div>
        <div class="content end">
            <div class="item">a</div>
            <div class="item">b</div>
            <div class="item">c</div>
            <div class="item">d</div>
            <div class="item">e</div>
        </div>
    </article>
    <article class="article">
        <div class="title">
            <h4>justify-content: space-between<span>parent element container</span></h4>
            <p>The <span>space-between</span> value displays the flex items with space between the lines:</p>
        </div>
        <div class="content space-between">
            <div class="item">a</div>
            <div class="item">b</div>
            <div class="item">c</div>
            <div class="item">d</div>
            <div class="item">e</div>
        </div>
    </article>
    <article class="article">
        <div class="title">
            <h4>justify-content: space-around<span>parent element container</span></h4>
            <p>The <span>space-around</span> value displays the flex items with space before, between, and after the lines:</p>
        </div>
        <div class="content space-around">
            <div class="item">a</div>
            <div class="item">b</div>
            <div class="item">c</div>
            <div class="item">d</div>
            <div class="item">e</div>
        </div>
    </article>
</section>

<style>
    .start{
        justify-content: start;
    }
    .center{
        justify-content: center;
    }
    .end{
        justify-content: end;
    }
    .space-between{
        justify-content: space-between;
    }
    .space-around{
        justify-content: space-around;
    }
</style>