@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwitcher+Grypen:wght@400;700&display=swap');

:root{
    --color-90: #001419;
    --color-80: #012832;
    --color-70: #013b4c;
    --color-60: #014f65;
    --color-50: #02637e;
    --color-40: #027797;
    --color-30: #028bb0;
    --color-20: #029eca;
    --color-10: #03b2e3;
    --color-default: #03c6fc;
    --color-01: #1cccfc;
    --color-02: #35d1fd;
    --color-03: #4fd7fd;
    --color-04: #68ddfd;
    --color-05: #81e3fe;
    --color-06: #9ae8fe;
    --color-07: #b3eefe;
    --color-08: #cdf4fe;
    --color-09: #e6f9ff;
    --color-active: #c5fb04;

    --color-gradient: radial-gradient(
        circle, 
        var(--color-50), 
        var(--color-60), 
        var(--color-70), 
        var(--color-80), 
        var(--color-90)
    );

    --bg-color: var(--color-gradient);
    --active: var(--color-active); 
    --box-shadow: 0 0 2rem var(--color-default);
    --poppins: "Poppins", sans-serif;
    --grypem: "Qwitcher Grypen", serif;
}

/* ============= *
 * GLOBAL STYLE 
 =============== */

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--poppins);
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    color: var(--color-09);
}

html{
    overflow-x: hidden;
    font-size: 16px;
    line-height: normal;
}

body{
    background: var(--bg-color) no-repeat;
}

main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section{
    min-height: 100vh;
    /* border: 0.1rem solid var(--color-50); */
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
}
h1{
    font-family: var(--grypem);
}
h2,
h3{
    font-weight: 100;
    text-transform: capitalize;
    font-size: 2.5rem;
    strong{
        color: var(--color-default);
        font-weight: 100;
    }
}

p{
    font-weight: 100;
    strong{
        font-weight: 100;
        color: var(--color-default);
    }
}

img{
    /* max-width: 450px; */
    width: 100%;
}

.media,
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
   background: rgba(0, 0, 0, 0.3);
   border: 0.1rem solid rgba(3, 198, 252, 0.3);
   border-radius: 0.5rem;
   max-width: 1200px;
   margin: 0 auto;
   padding: 1rem;

}

/* =============*===
 * YASTA CODE STYLE 
 ================= */
 .yasta-code{
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1.5rem;
    }
    article{
        text-align: center;
        h2{
            font-size: 2rem;
        }
        h3{
            text-transform: uppercase;
            font-size: 1.5rem;
        }
        p{
            margin: 1rem 0;
        }
        .btns{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
    }
 }
 

/* =============*
 * FLEXBOX STYLE 
 ============== */
 .css-flexbox{
    .container{
        min-height: auto;
        background-color: rgba(230, 231, 233, 0.2);
        border: 1px solid rgba(230, 231, 233, 0.2);
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .title{
        h3{
            text-transform: none;
        }
    }
    p{
        span{
            color: var(--color-default);
        }
    }
    .article{
        background-color: rgba(142, 155, 182, 0.3);
        border: 1px solid rgba(142, 155, 182, 0.3);
        padding: 1rem;
        border-radius: 0.5rem;
        .title{
            background-color: var(--color-80);
            border: 1px solid rgba(230, 231, 233, 0.3);
            padding: 0.7rem 1rem;
            border-radius: 0.5rem  0.5rem  0 0;
            border-bottom: 0;
            h4{
                font-size: 1.2rem;
                color: #9fca05;
                display: flex;
                justify-content: space-between;
                font-weight: 300;
                span{
                    text-transform: capitalize;
                    color: var(--color-30);
                    font-size: 0.9rem;
                    font-weight: 100;
                }
            }
            p{
                margin-top: 0.2rem;
                font-style: italic;
            }
        }
        .content{
            background-color: var(--color-60);
            border: 1px solid rgba(230, 231, 233, 0.3);
            padding: 1rem;
            border-radius: 0 0 0.5rem  0.5rem;
            display: flex;
            gap: 0.5rem;
            .item{
                background: var(--active);
                padding: 0.5rem 1.5rem;
                border-radius: 0.5rem;
                color: var(--color-80);
                text-transform: uppercase;
                font-size: 2.5rem;
                font-weight: 600;
                text-align: center;
                cursor: pointer;
                transition: 0.3s ease-in-out;
            }
            .item:hover{
                transform: translateY(-1rem);
                box-shadow: 0 0 15px #000;
                background: #f1f905;
            }
        }
    }
 }


/* @media (min-width: 768px) {
    .navbar{
        .logo{
        }
        .nav-links{
            flex: 1;
            display: block;
            position: static;
            text-align: end;
            a{
                display: inline-block;
            }
        }
    }
    .hamburger {
        display: none;
    }
}  */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {} */
	
/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) {} */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {} */

/* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {} */

/* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {} */