---
import PortOne from "../../../layouts/flexbox/sites/PortOne.astro"
import Layout from "../../../layouts/Layout.astro";
const title = "Examples flexbox";
const description = "description examples"
---

<Layout title={title} description={description}>
    <main>
        <PortOne></PortOne>
    </main>
</Layout>