---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <main>
        <section>
            <a href="/flexbox/">flexbox</a>
            <a href="">javascript</a>
            <a href="">css</a>
        </section>
    </main>
</Layout>