---
import About from "../../layouts/About.astro";
import Home from "../../layouts/Home.astro";
import Layout from "../../layouts/Layout.astro";
const title = "Responsive Sites Web | Yasta Code";
const description = "The Web Site  Responsive with Astro Framework| Yasta Code";
---

<Layout title={title} description={description}>
	<h1>Home | Yasta Code</h1>
	<a href="/sites/portfolio-1/">Responsive Sites One</a>
	<a href="/sites/portfolio-2/">Responsive Sites Two</a>
</Layout>