---
import Navbar from "./Navbar.astro";
---

<header>
    <div class="logo"><i class='bx bxs-category'></i>Petros</div>
    <button type="button" class="hamburger">
        <i class='bx bx-menu' id="menu-icon"></i>
    </button>  
    <nav>
        <Navbar />
    </nav>
</header>

<style>
    header{
        position: fixed;
    }
</style>