---
import Btn from "../components/Btn.astro";
---

<section class="about container" id="about">
    <header class="picture">
        <img src="moi.png" alt="User Image">
    </header>
    <article class="article">
        <div class="title">
            <h2><strong>about</strong> me</h2>
            <h3><strong>Front-End </strong>developer</h3>
        </div>
        <div class="content">
            <p>
                Passionate about the web and creating intuitive user experiences, I am a junior front-end developer in constant evolution. My curiosity leads me to constantly explore new technologies and keep myself informed of the latest trends.
            </p>
            <!-- <p>
                I have acquired a solid foundation in <span>HTML</span> , <span>CSS</span> and <span>JavaScript</span>, and I master the fundamentals of frameworks like <span>Astro</span> and <span>Vue</span>. I also have a good understanding of the principles of accessibility and responsive design.
            </p> -->
            <!-- <p>
                During my personal and academic projects, I have developed skills in:
            </p>-->
            <!-- <ul>
                <li><strong>Development of user interfaces:</strong> Creation of mockups, integration of designs, optimization for different browsers</li>
                <li><strong>Version management:</strong> Use of <span>Git</span> to collaborate effectively in a team</li>
                <li><strong>Performance optimization:</strong> Minification, compression, caching</li>
            </ul>  -->
            <!-- <p>           
                I am particularly interested in the challenges related to improving the user experience and creating high-performance websites. I am convinced that my skills and motivation will make me a valuable asset to your team.
            </p> -->
            <div class="btns">
                <Btn url="#" name="read more" icon=""/>
            </div>
        </div>
    </article>
</section>

<style>
    img{
        border-radius: 1rem;
        width: 300px;
        border: 4px double var(--active);
        padding: 0.3rem;
    }
    img:hover{
        box-shadow: var(--box-shadow);
        animation: shake .3s ease-in-out infinite;

    }
    .title{
        h2{
            font-size: 2.5rem;
        }
    }
    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    } 

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px){
        .about{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;
        }
        .picture{
            flex: 1;
            text-align: right;
            img{
                width: 100%;
            }
        }
        .article{
            flex: 2;
            text-align: left;
            p{
                padding-left: 0;
            }
            .btns{
                align-items: start;
            }
        }
    }
</style>