---
import SocialMedia from "../components/SocialMedia.astro";
import Btn from "../components/Btn.astro";
---

<section class="home container" id="home">
    <header class="picture">
        <img src="/user.jpg" alt="User Image">
    </header>
    <article class="article">
        <div class="title">
            <h1>
                <span>Hi, Myself</span>
                <span>Petros <strong>Córdova</strong></span>
            </h1>
            <h2>
                <span>And I'm a</span> 
                <span><strong>Front-End</strong> Developer</span>
            </h2>
        </div>
        <div class="content">
            <p>
                Passionate about user experience, I create intuitive, aesthetic and responsive web interfaces. My skills: <span>HTML5</span>, <span>CSS3</span>, <span>JavaScript</span>, <span>Astro</span>, <span>Vue</span>. I like taking on new challenges and collaborating with creative teams.
            </p>
            <div class="btns">
                <SocialMedia />
                <Btn url="#" name="download CV" icon="downvote"/>
            </div>
        </div>
    </article>
</section>

<style>
    .picture {
        margin-top: 5rem;
    }
    img{
        border-radius: 50%;
        border: 1rem solid #fff;
        box-shadow: var(--box-shadow);
        width: 300px;
        animation: floatImg 4s ease-in-out infinite;
    }
    .title{
        h1,
        h2{
            display: flex;
            flex-direction: column;
            span:first-child{
                font-size: 1.2rem;
                font-weight: 100;
                text-transform: initial;
            }
        }
        h1{
            font-size: 3rem;
            strong{
                color: var(--color-default);
            }
        }
        h2{
            font-size: 1.5rem;
            text-transform: uppercase;
        }
    }
    p{
        padding: 0 2rem;
    }

    @keyframes floatImg{
        0% {transform: translateY(0);}
        50% {transform: translateY(-1.8rem);}
        100% {transform: translateY(0);}
    } 
    
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px){
        .home{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .picture{
            order: 2;
            flex: 1;
            text-align: right;
            img{
                width: 100%;
            }
        }
        .article{
            flex: 2;
            order: 1;
            text-align: left;
            p{
                padding-left: 0;
            }
            .btns{
                align-items: start;
            }
        }
    }
</style>