---
import "../styles/global.css";

const {title, description} = Astro.props;
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content={description}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>{title}</title>
</head>
<body>
    <nav></nav>
    <header></header>
    <main>
        <slot />
    </main>
    <footer></footer>
    <script> 
        import "../scripts/main";
    </script>
</body>
</html>