---
import Btn from "../components/Btn.astro";
---

<section class="services container" id="services">
    <header class="header">
        <h2>my <strong>services</strong></h2>
    </header>
    <article class="article">
        <div class="content">
            <i class="bx bx-code-alt"></i>
            <h3>web development</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit vel tempore odio quas obcaecati nam dolores maxime natus rem asperiores libero blanditiis fuga velit culpa, mollitia nulla atque quasi explicabo.
            </p>
            <div class="btns">
                <Btn url="#" name="read more"/>
            </div>
        </div>
        <div class="content">
            <i class="bx bxs-palette"></i>
            <h3><span>ui/ux</span> designing</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, saepe animi! Perferendis quos eaque adipisci accusantium, enim officiis non, consequuntur inventore eum explicabo, quasi rerum repudiandae facere tempore debitis amet.
            </p>
            <div class="btns">
                <Btn url="#" name="read more"/>
            </div>
        </div>
        <div class="content">
            <i class="bx bxl-android"></i>
            <h3>app development</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolorum sunt quas earum fuga in, dicta pariatur ratione sint et obcaecati fugit saepe natus dolore quasi possimus beatae dolores iste.
            </p>
            <div class="btns">
                <Btn url="#" name="read more"/>
            </div>
        </div>
    </article>
</section>

<style>
    .article{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .content{
        border: 5px double var(--color-50);
        border-radius: 1rem;
        padding: 1rem;
        i{
            font-size: 6rem;
            color: var(--color-default);
        }
        h3{
            font-weight: 300;
        }
    }
    .content:hover{
        box-shadow: var(--box-shadow);
    }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px){
        .article{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    /* Large devices (desktops, 992px and up) */
    /* @media (min-width: 992px){
        .article{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    } */
</style>